@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */
:root {
    --PRIMARYBGCOLOR: #FA4EAB;
    --SECONDARYBGCOLOR: #FE83C6;
    --HEADERFOOTERCOLOR: #323232;
    --BODYBGCOLOR: black;
    --COLOR: white;
    --ACOLOR: #fce8f3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--BODYBGCOLOR);
    color: var(--COLOR);
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

img {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
input,
a {
    font: inherit;

}

.container {
    width: 100%;
    height: auto;
    background-color: var(--PRIMARYBGCOLOR);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--HEADERFOOTERCOLOR);
    height: 8rem;
}

.header {
    background-color: var(--HEADERFOOTERCOLOR);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}


.header-bar {
    height: 3.5rem;
    display: flex;
    align-items: center;

}

.header-img {
    display: flex;
    align-items: center;
}

.header-img img {
    margin-left: 1rem;
    width: 3.5em;
    height: 3.5em;
}

#header-start {
    flex: 1;
}

#header-middle {
    justify-content: center;
    text-align: center;
    flex: 2;
}

.header-title {
    font-size: 2.3rem;
    text-shadow: 5px 5px 5px black;
}

#header-end {
    justify-content: flex-end;
    flex: 1;
}




/* ------------------------------ */

.navbar {
    height: 3rem;
    line-height: 1.35rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.navbar-links {
    width: 8rem;
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.navbar-links a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--COLOR);
}

.navbar-links:hover {
    transform: scale(1.1);
}


.attention {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    padding: 0 12px; 
    width: 100%;
    gap: 20px;
    justify-items: center;
}

.hero {
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    min-height: 300px;
    width: 50%;
    height: 25%;
    border-radius: 1rem;
}
article {
    box-shadow: 5px 5px 15px 5px black;
    border-radius: 1rem;
    background-color: var(--SECONDARYBGCOLOR);
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
}
article p {
    padding: 0 12px;
    text-align: center;
    justify-content: center;
}
.content-header {
    background-color: var(--HEADERFOOTERCOLOR);
    padding: 0.25rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--HEADERFOOTERCOLOR);
}

/* ----------Grid + Subgrid--------- */
.season-summmer {
    width: 100%;
    height: 80vh;
}

.sevent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: auto auto auto auto;
    margin: 16px 0 16px 0;
    width: 100%;
    height: 100%;
    border: 1px red solid;
    justify-content: center;
}

.sevent-box {
    border: 1px black solid;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    margin: 8px;
}

.se-name {
    font-size: 1.3rem;
    line-height: 1.5rem;

}

.se-date {
    font-size: 1.05rem;
    line-height: 1.5rem;
}

/*-------------Modal----------*/
.open-button {
    width: 8rem;
    margin: auto;
    border: none;
    padding: 0.25rem;
    font: inherit;
    cursor: pointer;
}

.close-button {
    width: 4rem;
    margin: auto;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #333;
    padding: 0.25rem;
    font: inherit;
    cursor: pointer;
}

.login-window {
    width: 100%;
    height: 100%;
}

.header-login {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.title-login {
    width: 13rem;
}


.login-close-button {
    width: 2rem;
    align-content: end;



}

.x {
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    clip-path: path("M8.5 10 4 5.5 5.5 4 10 8.5 14.5 4 16 5.5 11.5 10l4.5 4.5-1.5 1.5-4.5-4.5L5.5 16 4 14.5 8.5 10z");
}

.login-close-button>button {
    width: 30px;
    height: 30px;
    align-content: center;
    border: none;
    background-color: transparent;
}

.login-close-button>button:hover {
    border: none;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
}

.dialog-login {
    margin: auto;
    width: 17rem;
    height: 14rem;
}

.login {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.login>h3 {
    letter-spacing: -1px;

}

.login>label {
    font-weight: 600;
    line-height: 1.7rem;

}

.login>input {
    width: 15rem;
    border-radius: 0.5rem;
    height: 1.2rem;
    font: inherit;
    padding: 0 10px 0 10px;
}

.login>a {
    line-height: 1.6rem;
}

.login-button {
    width: 15rem;
    height: 1.3rem;
    font: inherit;
    border: none;
    border-radius: 15px;
    margin: 8px 0 8px 0;
}

/*--------------------*/
.dialog-popup {
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.3s allow-discrete;
}

.dialog-popup[open] {
    opacity: 1;
}

@starting-style {
    .dialog-popup[open] {
        opacity: 0;
    }
}

.dialog-popup::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s allow-discrete;
}

.dialog-popup[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
    .dialog-popup[open]::backdrop {
        background-color: rgba(0, 0, 0, 0.0);
    }
}


@media (max-width: 600px) {
    .attention {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    padding: 0 12px; 
    width: 100%;
    gap: 20px;
}

    .hero, article {
        width: 100%;
    }
}